//block colors
$blue               : #15a7e2;
$blue-medium        : #36b3e7;
$blue-light         : #54c1ef;
$green              : #bdd900;
$green-light        : #d1ec18;
$red                : #ef6363;
$red-light          : #ed6365;
$red-lighter        : #fcecec;
$white              : #ffffff;
$grey-lighter       : #f6f6f6;
$grey-light         : #e1e1e1;
$grey               : #b5b5b5;
$grey-dark          : #5d5d5d;
$grey-darker        : #343434;
$grey-darkest       : #2a2a2a;
$border-color       : #e1e1e1;

//text colors
$text-color         : #313131;
$text-muted         : #9a9a9a;
