body {
  font-family: $font-family-base;
  font-size: $font-size-base;
  line-height: $line_height_base;
  color: $text-color;
  font-weight: $font-weight-normal;
  background: $white;
  margin: 0;
}

.container {
  margin-top: 50px;
  position: relative;
  padding: 40px 50px;
  @extend .min-height-full-space;

  @include md {
    padding: 30px;
  }
  @include xs; @include sm {
    padding: 30px 20px;
  }
}

* {
  transition: background $transition-base, opacity $transition-base, transform $transition-base;
}

a {
  color: $text-color;
  text-decoration: none;

  &:visited {
    color: $text-color;
  }
}

.min-height-full-space {
  min-height: calc( 100vh - 428px);

  @include md {
    min-height: calc( 100vh - 425px);
  }

  @include sm {
    min-height: calc( 100vh - 407px);
  }

  @include pre-sm {
    min-height: calc( 100vh - 539px);
  }

  @include xs {
    min-height: calc( 100vh - 616px);
  }
}
.min-height-results {
  min-height: calc( 100vh - 677px);
  margin-bottom: 0!important;

  @include md {
    min-height: calc( 100vh - 683px);
  }

  @include sm {
    min-height: calc( 100vh - 681px);
  }

  @include pre-sm {
    min-height: calc( 100vh - 746px);
  }

  @include xs {
    min-height: calc( 100vh - 848px);
  }
}