//fonts
$font-family-base   : 'Roboto', sans-serif;
$font-family-header : 'Roboto Condensed', 'Roboto', sans-serif;
$font-family-icons  : 'icomoon';
$font-size-base     : 17px;
$font-size-bigger   : 24px;
$font-size-small    : 16px;
$font-size-smaller  : 15px;
$font-size-smallest : 14px;
$font_size_h1       : 2.8em;
$font_size_h2       : 1.6em;
$font_size_h3       : 1.3em;
$font_size_h4       : 1em;
$font_size_h5       : 20px;
$font_size_h6       : 17px;
$line_height_base   : 26px;
$line_height_h1     : 58px;
$line_height_h2     : 1.1em;
$line_height_h3     : 32px;
$line_height_h4     : 26px;
$line_height_h5     : 26px;
$line_height_h6     : 23px;
$font-weight-normal : 400;
$font-weight-bold   : 700;
$font-weight-thin   : 300;

//transition
$transition-base    : 0.33s;
$transition-fast    : 0.2s;

//other
$border-radius-base : 3px;
