//block colors
$blue               : #15a7e2;
$blue-medium        : #36b3e7;
$blue-light         : #54c1ef;
$green              : #bdd900;
$green-light        : #d1ec18;
$red                : #ef6363;
$red-light          : #ed6365;
$red-lighter        : #fcecec;
$white              : #ffffff;       
$grey-lighter       : #f6f6f6; 
$grey-light         : #e1e1e1;
$grey               : #b5b5b5;
$grey-dark          : #5d5d5d;
$grey-darker        : #343434;
$grey-darkest       : #2a2a2a;
$border-color       : #e1e1e1;

//text colors
$text-color         : #313131;
$text-muted         : #9a9a9a;

//fonts
$font-family-base   : 'Roboto', sans-serif;
$font-family-header : 'Roboto Condensed', 'Roboto', sans-serif;
$font-family-icons  : 'icomoon';
$font-size-base     : 17px;
$font-size-bigger   : 24px;
$font-size-small    : 16px;
$font-size-smaller  : 15px;
$font-size-smallest : 14px;
$font_size_h1       : 2.8em;
$font_size_h2       : 1.6em;
$font_size_h3       : 1.3em;
$font_size_h4       : 1em;
$font_size_h5       : 20px;
$font_size_h6       : 17px;
$line_height_base   : 26px;
$line_height_h1     : 58px;
$line_height_h2     : 1.1em;
$line_height_h3     : 32px;
$line_height_h4     : 26px;
$line_height_h5     : 26px;
$line_height_h6     : 23px;
$font-weight-normal : 400;
$font-weight-bold   : 700;
$font-weight-thin   : 300;

//transition
$transition-base    : 0.33s;
$transition-fast    : 0.2s;

//other
$border-radius-base : 3px;
