.homepage {

  .container {
    max-width: 960px;
    padding-left: 40px;
    padding-right: 40px;

    @include xs {
      padding-left: 16px;
      padding-right: 16px;
    }
  }

  &:after {
    display: none!important;
  }

  .simple_header {
    padding: 18px 56px;
    @include clearfix;

    @include md {
      padding-left: 40px;
      padding-right: 40px;
    }

    @include xs {
      padding: 9px 16px;
    }

    .auth_block {
      margin-right: 32px;
      overflow: hidden;

      @include pre-sm {
        float: left !important;
      }
      @include xs {
        float: left !important;
      }

      img {
        height: 40px;
        width: 40px;
        //border-radius: 16px;
      }

      .btn {
        line-height: 20px;
        font-size: $font-size-small;
      }
    }

    .icon-menu {
      height: 40px;
      line-height: 40px;
      cursor: pointer;
    }
  }

  .content_wrapper {
    background: $white;

    h1 {
      font-weight: bold;
      margin-bottom: 8px;
      margin-top: 0;
      text-align: center;

      @include xs {
        font-size: 32px;
        margin-bottom: 0;
      }
    }

    h2 {
      font-weight: $font-weight-thin;
      font-size: $font_size_h5;
      font-family: $font-family-base;
      text-transform: none;
      display: block;
      margin: 0 auto 40px;
      line-height: 32px;
      text-align: center;

      @include sm {
        max-width: 337px;
      }

      @include xs {
        font-size: $font-size-small;
        line-height: 24px;
        margin-bottom: 24px;
      }
      
      br {
        display: none;
        
        @include sm {
          display: inline-block;
        }
        
        @include xs {
          display: none;
        }
      }
    }

    .search_wrapper {
      margin-left: 0;
      padding-bottom: 14px;

      @include sm {
        margin: 0;
        border: none;
      }

      @include xs {
        padding-bottom: 0;
      }

      .search_input {

        @include sm {
          padding-left: 24px !important;
        }

        @include xs {
          padding-left: 16px!important;
        }
      }
    }

    .action {
      font-size: 16px;
      font-weight: 300;
      text-align: center;

      p {
        margin-bottom: 10px;
        line-height: 24px;
        padding: 0 30px;

        @include md {
          padding: 0 10px;
        }

        @include sm {
          max-width: 370px;
          display: block;
          margin: 0 auto 10px;
        }

        br {
          @include sm {
            display: none;
          }
        }
      }

      .btn {
        min-width: 208px;

        @include sm {
          font-size: 20px;
          padding: 10px 22px;
          height: 50px;
          margin-bottom: 40px;
        }
      }

      &:last-child .btn {
        margin-bottom: 0;
      }
    }

    .home_copyright {
      text-align: center;
      font-weight: $font-weight-thin;
      font-size: $font-size-small;
      color: $grey;
      line-height: 24px;
      padding-top: 82px;
      padding-bottom: 22px;

      a {
        color: $blue-medium;
        text-decoration: none;
      }

      @include sm {
        max-width: 337px;
        margin: 0 auto;
      }

      @include xs {
        padding-top: 66px;
      }
    }

    .partners {
      text-align: center;
      padding-top: 28px;

      img {
        width: 200px;
        max-width: 100%;
        display: inline-block;

        @include pre-sm {
          margin-bottom: 32px;
        }
        @include xs {
          margin-bottom: 32px;
        }
      }

      .col-sm-4 {
        display: inline-block;
        float: none;
        width: auto!important;
        
        @include sm {
          width: 33.33333333%!important;
          display: block;
          float: left;

          img {
            max-width: 100%;
          }
        }

        @include pre-sm {
          width: 100%!important;
        }

        @include xs {
          width: 100%!important;
        }

        &:first-child {
          float: left;
        }

        &:last-child {
          float: right;

          img {
            @include pre-sm {
              margin-bottom: 0;
            }
            @include xs {
              margin-bottom: 0;
            }
          }
        }

        @include sm {
          padding: 0 16px;
        }

        @include pre-sm {
          padding: 0 32px;
        }
        @include pre-sm {
          width: 100%;
        }
        @include xs {
          width: 100%;
        }
      }
    }
  }


  .action_container {
    text-align: center;

    .action {
      width: 224px;
      max-width: 100%;
      float: none;
      display: inline-block;

      @include sm {
        width: 100%;
      }

      p {
        padding: 0;

        @include sm {
          max-width: 337px;
          width: 100%;
        }
      }

      .btn {
        @include sm {
          max-width: 337px;
          width: 100%;
        }
      }
      
      &:first-child {
        float: left;
      }
      
      &:last-child {
        float: right;
      }
    }
  }
}