body {
  font-family: $font-family-base;
  font-size: $font-size-base;
  line-height: $line_height_base;
  color: $text-color;
  font-weight: $font-weight-normal;
  background: $white;
  margin: 0;
}

#root {
  max-width: 1200px;
  margin: 0 auto;
  position: relative;
}
.app_wrapper {
  max-width: 1200px;
  margin: 0 auto;
  position: relative;
  //min-height: 100vh;
  //display: flex;
  //width: 100%;
  //flex-wrap: wrap;

  //&>* {
  //  width: 100%;
  //}

  .content {
    position: relative;
    @extend .min-height-full-space;
  }
}
* {
  transition: background $transition-base, color $transition-base, opacity $transition-base, transform $transition-base;
}



a {
  color: $text-color;
  text-decoration: none;

  &:focus {
    color: inherit;
  }

  &:active, &:hover, &.active {
    color: $blue;
  }
  &:visited {
    color: #65b1ff;
  }
}
h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
  font-family: $font-family-header;
  font-weight: 700;
  text-transform: uppercase;
  transition: font-size .3s
}
h1 {
  font-size: $font_size_h1;
  margin: 0 0 0.5em 0;
  @include xs {
    font-size: 1.8em;
    color: red;
  }
}
h2 {
  font-size: $font_size_h2;
  line-height: $line_height_h2;
  margin: 0 0 .5em 0;
}
h3 {
  font-size: $font_size_h3;
  margin: 0 0 .5em 0;
}
h4 {
  font-size: $font_size_h4;
  margin: 0 0 1em 0;
}
p {
  margin: 0 0 1em 0;
}

/**
 Media Queries
 */
//@media screen and (max-width: 1000px) {
//  h1 {
//    font-size: 2.4em;
//  }
//  header div.hero {
//    left: 56%;
//    h1 {
//      margin-bottom: 20px;
//    }
//  }
//  section.atmosphere {
//    article {
//      padding-left: 400px;
//      background-size: 375px auto;
//    }
//  }
//}


.min-height-full-space {
  min-height: calc( 100vh - 428px);

  @include md {
    min-height: calc( 100vh - 425px);
  }

  @include sm {
    min-height: calc( 100vh - 407px);
  }

  @include pre-sm {
    min-height: calc( 100vh - 539px);
  }

  @include xs {
    min-height: calc( 100vh - 616px);
  }
}
.min-height-results {
  min-height: calc( 100vh - 677px);
  margin-bottom: 0!important;

  @include md {
    min-height: calc( 100vh - 683px);
  }

  @include sm {
    min-height: calc( 100vh - 681px);
  }

  @include pre-sm {
    min-height: calc( 100vh - 746px);
  }

  @include xs {
    min-height: calc( 100vh - 848px);
  }
}

// helpers
.pl0  {
   padding-left: 0!important;
}
.pt0 {
  padding-top: 0!important;
}
.pr0  {
  padding-right: 0!important;
}
.pb0  {
  padding-bottom: 0!important;
}
.width100 {
  width: 100%;
}
.rotate180 {
  transform: rotate(180deg);
}
.overflow-hidden {
  overflow: hidden!important;
  height: 0!important;
  position: fixed!important;
}
.block {
  display: block!important;
  width: auto!important;
}
.no_border {
  border: none!important;
}
.hide_sm {
  @include sm {
    display: none!important;
  }
}