.paper {
  &__area {
    text-align: center;
  }

  &__header {
    padding-top: 10px;
  }

  &__body {
    padding: 30px 50px;
  }

  &__control {
    border: 1px solid red;
  }

  &__type {
    overflow: hidden;
    font-size: 40px;
    font-family: Lucida Console, monospace;
    display: flex;
    height: 60px;
 
    .paper__left {
      @include flex-container(row, flex-end, center);
      position: relative;
      width: 50%;
      background: #ccc;
      white-space: pre;
      overflow-x: hidden;

      &::before {
        content: '';
        position: absolute;
        left: 0 ;
        width: 40px;
        height: 50px;
        background: linear-gradient(
          to left,
          rgba(255, 255, 255, 0.001),
          #ccc
        );
        pointer-events: none;
      }

      
      .paper_left_inner {
        float: right;
      }
    }

    .paper__right {
      @include flex-container(row, flex-start, center);
      position: relative;
      overflow: hidden;
      width: 50%;
      white-space: pre;

      &::after {
        content: '';
        position: absolute;
        right: 0;
        width: 40px;
        height: 50px;
        background: linear-gradient(
          to right,
          rgba(255, 255, 255, 0.001),
          white
        );
        pointer-events: none;
      }
 
      .paper__symbol {
        border: 2px solid #8BC34A;
        white-space: pre;
        padding: 3px;
      }
      .paper__symbol__error {
        border: 2px solid #F44336;
        white-space: pre;
        padding: 3px;
      }
    }
  }

  &__bottom {
    padding: 0 0 30px 40px;
    text-align: left;
    font-size: $font-size-bigger;
    line-height: $line_height_h3;
  }
}